* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Regular', 'Inter', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1.2rem;

    color: #FFFFFF;
}

button {
    cursor: pointer;
}

.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;

    width: 743px;
    min-height: 91px;

    padding: 12px 16px 12px 23px;

    border-radius: 10px;
    background-color: #3579F5;
}

.content__counter {
    position: relative;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content__check {
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex-grow: 2;
}

.check__title {
    height: 18px;
    width: 76px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 40px;
    background-color: #2364DB;

    line-height: 1.6rem;
}

.check__counter {
    font-size: 1.5rem;
    font-weight: bold;
}

.check__next {
    letter-spacing: 0.04rem;
}

.content__btn {
    width: 170px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #4777ED;
    border-radius: 6px;
    background-color: #F4F8FF;

    font-size: 1.4rem;
    letter-spacing: 0.07rem;
    color: #4777ED;

    transition: 0.5s;
}

.content__btn:hover {
    border: 1px solid #FFFFFF;
    background-color: #2364DB;
    color: #FFFFFF;
}

.progress-container {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
}
  
.progress-container svg {
    width: 60px;
    height: 60px;
}
  
.progress-container .bg {
    fill: none;
    stroke-width: 1px;
    stroke: #FFFFFF80;
}
  
.progress-container .progress {
    fill: none;
    stroke-width: 2px;
    stroke: #FFFFFF;
    stroke-linecap: round;
    stroke-dasharray: 232.36;
            transform: rotate(-90deg);
            transform-origin: 50% 50%;
}
  
:root {
    --progress-value: 4;
}

.progress-container .progress {
    stroke-dashoffset: calc(233 - (182 * var(--progress-value) / 100));
}
  
.progress-container .text {
    position: absolute;
    top: 30%;
    left: 0;
   
    text-align: center;

    width: 100%;
    font-size: 2rem;
}